config options 'options'
        option name '{{ squeezelite_name }}'
        option model_name 'SqueezeLite'
        option close_delay '0'
        option priority '0'
        option max_sr '0'
        option device 'default'
        option dsd_over_pcm '0'
        option ircontrol '0'
        option interface ''
        option enabled '1'
        option server_addr '{{ lms_host }}'
        option alsa_buffer '40'
        option alsa_period '4'
        option alsa_format '32'
        option alsa_mmap '1'
