config wifi-device 'radio0'
	option type 'mac80211'
	option path '{{ wireless_radio_path }}'
	option band '{{ wireless_radio_band }}'
	option channel '{{ wireless_radio_channel }}'
	option htmode '{{ wireless_radio_htmode }}'

config wifi-iface '{{ wireless_iface_name }}'
	option device '{{ wireless_iface_device }}'
	option network '{{ wireless_iface_network }}'
	option mode '{{ wireless_iface_mode }}'
	option ssid "{{ wireless_ssid }}"
	option encryption '{{ wireless_encryption }}'
	option key "{{ wireless_key }}"

config wifi-device 'radio1'
	option type 'mac80211'
	option path '{{ wireless_radio1_path }}'
	option band '{{ wireless_radio1_band }}'
	option channel '{{ wireless_radio1_channel }}'
	option htmode '{{ wireless_radio1_htmode }}'
	option disabled '{{ wireless_radio1_disabled }}'

config wifi-iface '{{ wireless_iface1_name }}'
	option device '{{ wireless_iface1_device }}'
	option network '{{ wireless_iface1_network }}'
	option mode '{{ wireless_iface1_mode }}'
	option ssid '{{ wireless_iface1_ssid }}'
	option encryption '{{ wireless_iface1_encryption }}'
