{
  "mqtt_host": "{{ mqtt_host }}",
  "mqtt_port": {{ mqtt_port }},
  "mqtt_user": "{{ mqtt_user }}",
  "mqtt_password": "{{ mqtt_pass }}",
  "topic_root": "lumi/{device_id}",
  "auto_discovery": true,
  "sensor_retain": false,
  "sensor_threshold": 50,
  "sensor_debounce_period": 60,
  "legacy_color_mode": false,
  "light_transition_period": 1.0,
  "custom_commands": {
    "playmp3": "sh -c 'mpg123 -q /music/${1:-alarm.mp3}' _",
    "playwav": "sh -c 'aplay -q /music/${1:-alarm.wav}' _"
  }
}
