{
  "mqtt_host": "{{ mqtt_host }}",
  "mqtt_port": {{ mqtt_port }},
  "mqtt_user": "{{ mqtt_user }}",
  "mqtt_password": "{{ mqtt_pass }}",
  "topic_root": "lumi/{device_id}",
  "auto_discovery": true,
  "sensor_retain": false,
  "sensor_threshold": 50,
  "sensor_debounce_period": 60,
  "legacy_color_mode": false,
  "light_transition_period": 1.0,
  "custom_commands": {
    "playmp3": "sh -c '/usr/bin/mpg123 /music/${1:-alarm.mp3} > /tmp/tmp_audio.log 2>&1' _",
    "playwav": "sh -c '/usr/bin/aplay /music/${1:-alarm.wav} > /tmp/tmp_audio.log 2>&1' _",
    "set_vol": "sh -c '/usr/bin/amixer set Master ${1:-100}%' _"
  }
}
